# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


## Production
# DATABASE_URL=""

## Dev
DATABASE_URL=


JWT_SECRET_KEY=
GITHUB_APP_WEBHOOK_SECRET=

# Also set in 
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Used to encrypt and decrypt gittoken
DB_ENCRYPTION_KEY=
DB_ENCRYPTION_IV=

# Used to get encrypted gittoken
TRUSTED_API_KEY=

# Used for Typesense API calls
# Make sure values here are same as site/backend/codebase/search_engine/.env
TYPESENSE_API_KEY=
TYPESENSE_URL=localhost:8981
TYPESENSE_PORT=8981